@font-face {
    font-family: data70;
    src: url('../fonts/Data\ 70\ Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-R.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding:0;
    margin:0;
    list-style:none;
    border:0;
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
    }

body {
    background: #ccc;
    color: whitesmoke;
}

#home {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#home span {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    text-shadow: 0 0 1px black;
}

#home p {
    color: dodgerblue;
}

#home h1 {
    font-size: 2.8em;
    font-family: 'Ubuntu Mono';
}

#home .title {
    margin-left: 28px;
    margin-top: -11px;
}

#home h2 {
    font-family: data70;
    color: #5000ff;
    font-size: 2.3em;
}

#home .navbar {
    height: 12vh;
    background-color: #5000ff;
    width: 100vw;
    margin-top: 10px;
    display: flex;
    /*! flex-direction: row; */
    justify-content: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    max-width: 100vw;
    width: inherit;
}

.navbar ul li {
    /*! height: 100%; */
    width: 15vw;
    text-align: center;
}

.navbar img:hover {

    
    height: 9vh;
    transition: .2s;
}

.navbar img {
    width: auto;
    height: 7vh;
    transition: .5s;
}

/* Media query */

@media screen and (min-width: 380px) {
    #home h1 {
    font-size: 3em;

    }
    
    #home h2 {
    font-size: 2.5em;
    }
}   

@media screen and (min-width: 900px) {

    #home h1{
        font-size: 5em;
    }

    #home h2{
        font-size: 3.8em;
    }

    #home .title {
        margin-left: 40px;
        margin-top: -15px;
    }

    .navbar ul {
        max-width: 40vw;
    }

    }
